{% extends 'base.html' %}
{% block title %}
  About
{% endblock title %}
{% block aboutactive %} active{% endblock aboutactive %}
{% block body %}
<div class="col-md-8 blog-main">
  <h3 class="pb-4 mb-4 font-italic border-bottom">
    Shivam Coder
  </h3>

  <div class="blog-post">
    <h2 class="blog-post-title">About me</h2>
    <p class="blog-post-meta">July 15, 2020 by Shivam Datta</p>

    <p>This blog website is made by Shivam Datta who is a 
      <ul>
        <li>Programmer in C and Python</li>
        <li>Expert in Data Structure and Algorithms</li>
        <li>Web Developer in Django</li>
        <li>Data Scientist</li>
        <li>ML enthusiast started with basics not into deep learning</li>
      </ul>
    </p>
    
    
    
  </div><!-- /.blog-post -->

 

</div>
{% endblock body %}